p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Inter";
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

@media screen and (max-width: 479px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .header-container {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    flex-wrap: nowrap;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-logo {
  margin-right: auto;
  background-image: url(./images/icons/logo-png.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 51px;
  min-width: 51px;
  height: 51px;
}

.header-lang {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-lang {
    font-size: 17px;
    margin-right: 15px;
  }
}

.header-button {
  display: flex;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header-button {
    margin: 0;
  }
}

.btn-register {
  background-color: #0177f9;
  color: white;
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  min-width: 90px;
  max-width: 90px;
}

@media screen and (min-width: 768px) {
  .btn-register {
    font-size: 20px;
    padding: 8px 16px;
    min-width: 125px;
    max-width: 125px;
  }
}

.btn-log {
  background-color: white;
  color: #0177f9;
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #0177f9;
  min-width: 80px;
  max-width: 80px;
}

@media screen and (min-width: 768px) {
  .btn-log {
    padding: 8px 16px;
    font-size: 20px;
    min-width: 118px;
    max-width: 118px;
  }
}

.btn-log:hover,
.btn-register:hover {
  background-color: #0177f9;
  color: white;
}

.btn-register:hover {
  background-color: white;
  color: #0177f9;
  border: 1px solid #0177f9;
}

/* /////////////////////////////Hero/////////////////////////////////////////////// */
.hero-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    margin-top: 90px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    margin-bottom: 107px;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding-right: 0;
  }
}

.hero-left {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-left {
    padding-top: 0;
    min-width: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-left {
    min-width: auto;
    max-width: auto;
    padding-top: 82px;
    padding-bottom: 147px;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-text {
  font-size: 17px;
  color: #232323;
  margin-bottom: 32px;
  text-align: baseline;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    margin-bottom: 52px;
  }
}

.btn-apply {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 32px;
  font-size: 17px;
  background: #0177f9;
  border-radius: 10px;
  color: white;
  border: none;
  -webkit-transition: width 1s, height 1s, background-color 1s,
    -webkit-transform 1s;
  transition: background-color 1s, transform 1s;
}

.btn-apply:hover {
  background-color: white;
  color: #0177f9;
  border: 1px solid #0177f9;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero-img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero-img {
    border-radius: 15px 0px 0px 15px;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero-img {
    max-width: 650px;
    max-height: 501px;
  }
}

.hero-right-subscription {
  position: relative;
  width: 75%;
  top: -12%;
  margin: 0 auto;
  padding: 20px 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(55, 55, 55, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 479px) {
  .hero-right-subscription {
    padding: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-right-subscription {
    padding: 27px 16px;
  }
}

.subscription-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #a1a1a1;
}

@media screen and (max-width: 479px) {
  .subscription-list {
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-list {
    font-size: 17px;
  }
}

.hero-item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 479px) {
  .hero-item:not(:last-child) {
    margin-right: 3px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-item:not(:last-child) {
    margin-right: 28px;
  }
}

.hero-span {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  color: #0177f9;
}

@media screen and (max-width: 479px) {
  .hero-span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-span {
    font-size: 28px;
  }
}

/* //////////////////////////////Work///////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1200px) {
  .work .container {
    padding-right: 130px;
  }
}

.work-container {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .work-container {
    margin-bottom: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .work-container {
    margin-bottom: 119px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .work-container-left {
    min-width: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .work-container-right {
    margin-left: 5%;
    min-width: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .work-container-right {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.work-img {
  border-radius: 20%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .work-img {
    border-radius: 50% 0 0 0;
    min-width: 529px;
    max-width: 529px;
    height: 590px;
  }
}

.work-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 14px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .work-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work-title {
    font-size: 40px;
  }
}

.work-text {
  margin-bottom: 34px;
}

@media screen and (min-width: 1200px) {
  .work-text {
    margin-bottom: 54px;
    font-size: 17px;
  }
}

.work-item-info {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .work-item-info {
    font-size: 17px;
  }
}

.work-item:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .work-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.work-icon-container {
  padding: 4px;
  border-radius: 10px;
  border: 2px solid #e5f6fe;
  background: #e5f6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 20px;
  -webkit-transition: width 1s, height 1s, background-color 1s,
    -webkit-transform 1s;
  transition: background-color 1s, transform 1s;
}

.work-icon-container:hover {
  background-color: #0177f9;
  color: white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.work-icon {
  fill: none;
  stroke: #0177f9;
}

.work-icon:hover {
  fill: #0177f9;
  stroke: #e5f6fe;
}

.work-item-text {
  text-align: left;
}

/* ////////////////////////////////////////////about//////////////////////////////// */
.about-container {
  position: relative;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, white 25%, #f3f3fb 75%, white 25%);
}

@media screen and (min-width: 1200px) {
  .about-container {
    margin-bottom: 120px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.about-title {
  font-weight: 700;
  font-size: 30px;
}

@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 40px;
  }
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .about-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 60px;
  }
}

.about-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-item:not(odd) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .about-item:not(odd) {
    margin-right: 0;
  }
}

.about-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
  border-radius: 10px;
  padding: 32px 42px;
  position: relative;
}

.about-item-container:hover {
  background-color: #0177f9;
}

.about-img {
  margin-bottom: 24px;
}

.about-second-title {
  font-weight: 600;
  font-size: 20px;
}

.about-second-text {
  font-size: 17px;
  color: #d6d6d6;
}

.about-stars {
  margin-bottom: 24px;
  margin-top: 24px;
}

.about-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon-note {
  margin-right: 4px;
}
.about-icon-clock {
  margin-right: 4px;
  margin-bottom: 4px;
}

.about-slaider {
  padding: 12px 12px;
  border-radius: 50%;
  background: #97cee8;
  display: flex;
  align-items: center;
  position: absolute;
}

.about-slaider:hover {
  background-color: #0177f9;
}

.left {
  top: 95%;
  left: 1%;
  position: absolute;
}
.right {
  top: 95%;
  right: 1%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .left,
  .right {
    top: 50%;
  }
}

.slaider {
  fill: white;
}

/* ///////////////////////////////////////Partners///////////////////////////////////////////////////// */

.partners-container {
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .partners-container {
    margin-bottom: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.partners-img {
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .partners-img {
    max-width: 90px;
    max-height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-img {
    max-width: 120px;
    max-height: 120px;
  }
}

/* ///////////////////////////////location///////////////////////////////////////// */

.location-container {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .location-container {
    margin-bottom: 80px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .location .container {
    padding-right: 0;
  }
}

.location-cont-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .location-cont-left {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .location-cont-left {
    width: auto;
  }
}

.loc-img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .loc-img {
    width: 710px;
    height: 474px;
  }
}

.location-div {
  display: flex;
}

.location-title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  .location-title {
    font-size: 40px;
  }
}

.location-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.location-adress {
  margin-left: 7px;
  font-size: 17px;
}

.location-div:not(:last-child) {
  margin-bottom: 20px;
}

/* /////////////////////////////////footer///////////////////////////////////////// */

.footer-container {
  background-color: #f3f3fb;
  padding-top: 36px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-right: 162px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-container {
    min-width: 125%;
    max-width: 125%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    min-width: 150%;
    max-width: 150%;
  }
}

.footer-title {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #232323;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title {
    margin-top: 0;
  }
}

.nav-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #232323;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    font-size: 17px;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-item:hover,
.footer-title:hover {
  color: #0177f9;
}

.contacts-icon {
  margin-right: 12px;
  fill: #0177f9;
}

.contacts-icon:hover {
  box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
}

.contacts-tel,
.contacts-email {
  font-weight: 500;
  margin-top: 25px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .contacts-tel,
  .contacts-email {
    font-size: 16px;
  }
}

.social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-container {
  background-color: #97cee8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  padding: 8px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-fb {
  fill: white;
  border-color: #0177f9;
}
.social-icon-fb:hover {
  background-color: white;
  border-radius: 50%;
  fill: #0177f9;
}

.social-icon {
  fill: white;
}

.social-container:hover {
  fill: #0177f9;
  background-color: #0177f9;
}

.footer-signature {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3fb;
}

.footer-signature-text {
  font-weight: 500;
  font-size: 7px;
  color: #a1a1a1;
  opacity: 0.6;
}

@media screen and (min-width: 1200px) {
  .footer-signature-text {
    font-size: 13px;
  }
}

.hero-title:hover,
.hero-span:hover,
.work-title:hover,
.work-item:hover,
.about-item-container:hover,
.about-slaider:hover,
.about-title:hover,
.partners-img:hover,
.location-title:hover,
.location-text:hover,
.location-div:hover,
.logo-img:hover,
.nav-item:hover,
.footer-title:hover,
.social-container:hover,
.contacts-icon:hover,
.btn-log:hover,
.btn-register:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}
